<app-header></app-header>

<!--==================== MAIN ====================-->
<main class="main">

  <!-- <router-outlet></router-outlet> -->

  <!--==================== HOME ====================-->
  <app-home></app-home>

  <!-- ==================== ABOUT ==================== -->
  <app-about></app-about>

  <!--==================== SKILLS ====================-->
  <app-skills></app-skills>

  <!--==================== QUALIFICATION ====================-->
  <app-qualification></app-qualification>

  <!--==================== SERVICES ====================-->
  <!-- <section class="services section" id="services">

  </section> -->

  <!--==================== PORTFOLIO ====================-->
  <!-- <section class="portfolio section" id="portfolio">

  </section> -->

  <!--==================== PROJECT IN MIND ====================-->
  <!-- <section class="project section">

  </section> -->

  <!--==================== TESTIMONIAL ====================-->
  <!-- <section class="testimonial section">

  </section> -->

  <!--==================== CONTACT ME ====================-->
  <!-- <section class="contact section" id="contact">

  </section> -->
</main>

<!--==================== FOOTER ====================-->
<footer class="footer">

</footer>

<!--==================== SCROLL TOP ====================-->

