<section class="about section" id="about">
  <h2 class="section__title">Sobre</h2>
  <span class="section__subtitle">A minha introdução</span>

  <div class="about__container container grid">
    <img src="assets/img/about.png" class="about__img">
    <div class="about__data">
      <p class="about__description">Desenvolvedora de Software, com experiência de atuação em projetos de diversos seguimentos. Venho trabalhando com tecnologia desde 2019, me reconheço como entusiasta em novas tecnologias do mercado.
      </p>

      <div class="about__info">
        <div>
          <span class="about__info-title">03+</span>
          <span class="about__info-name">Anos de <br> experiência</span>
        </div>

        <div>
          <span class="about__info-title">08</span>
          <span class="about__info-name">Projetos <br> concluídos</span>
        </div>

        <div>
          <span class="about__info-title">03</span>
          <span class="about__info-name">Empresas  <br> trabalhadas</span>
        </div>
      </div>

      <div class="about__buttons">
        <a href="javascript:void(0)" class="button button--flex" (click)="downloadPdf('assets/pdf/Camila-CV.pdf', 'Camila-CV')">
          Download CV<i class="uil uil-download-alt button__icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>
